# Projeto Final - Machine Learning

## Alunos:
- Guilherme Fontana Louro
- Pedro Altobelli Teixeira Pinto

## Objetivo
- Criar um modelo de Machine Learning capaz de sugerir uma boa aposta para uma partida da premier league, a liga mais valiosa e competitiva do mundo. Essa aposta pode ser o resultado final do jogo, número de gols, cartões, escanteios, etc.

## Dataset
- O dataset utilizado foi o [English Premier League](https://www.kaggle.com/datasets/saife245/english-premier-league), disponível no Kaggle. Ele contém dados de jogos de futebol da premier league por 20 temporadas, desde a temporada 2000/2001 até a 2021/2022. Os dados foram coletados do site [football-data.co.uk](https://www.football-data.co.uk/).

# Análise Exploratória inicial

In [7]:
import pathlib

db = pathlib.Path.cwd() / "../data/final_dataset.csv"

In [8]:
import pandas as pd

df = pd.read_csv(db)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 40 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     6840 non-null   int64
 1   Date           6840 non-null   object
 2   HomeTeam       6840 non-null   object
 3   AwayTeam       6840 non-null   object
 4   FTHG           6840 non-null   int64
 5   FTAG           6840 non-null   int64
 6   FTR            6840 non-null   object
 7   HTGS           6840 non-null   int64
 8   ATGS           6840 non-null   int64
 9   HTGC           6840 non-null   int64
 10  ATGC           6840 non-null   int64
 11  HTP            6840 non-null   float64
 12  ATP            6840 non-null   float64
 13  HM1            6840 non-null   object
 14  HM2            6840 non-null   object
 15  HM3            6840 non-null   object
 16  HM4            6840 non-null   object
 17  HM5            6840 non-null   object
 18  AM1            6840 non-null   object
 19  AM2            6840 non-null   object
 20  AM3            6840 non-null   object
 21  AM4            6840 non-null   object
 22  AM5            6840 non-null   object
 23  MW             6840 non-null   float64
 24  HTFormPtsStr   6840 non-null   object
 25  ATFormPtsStr   6840 non-null   object
 26  HTFormPts      6840 non-null   int64
 27  ATFormPts      6840 non-null   int64
 28  HTWinStreak3   6840 non-null   int64
 29  HTWinStreak5   6840 non-null   int64
 30  HTLossStreak3  6840 non-null   int64
 31  HTLossStreak5  6840 non-null   int64
 32  ATWinStreak3   6840 non-null   int64
 33  ATWinStreak5   6840 non-null   int64
 34  ATLossStreak3  6840 non-null   int64
 35  ATLossStreak5  6840 non-null   int64
 36  HTGD           6840 non-null   float64
 37  ATGD           6840 non-null   float64
 38  DiffPts        6840 non-null   float64
 39  DiffFormPts    6840 non-null   float64
dtypes: float64(7), int64(17), object(16)
memory usage: 2.1+ MB

In [10]:
df.head(5)

,Unnamed: 0,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,...,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts
0,0,19/08/00,Charlton,Man City,4,0,H,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
1,1,19/08/00,Chelsea,West Ham,4,2,H,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
2,2,19/08/00,Coventry,Middlesbrough,1,3,NH,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
3,3,19/08/00,Derby,Southampton,2,2,NH,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
4,4,19/08/00,Leeds,Everton,2,0,H,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0

In [11]:
df.select_dtypes('number').describe()

,Unnamed: 0,FTHG,FTAG,HTGS,ATGS,HTGC,ATGC,HTP,ATP,MW,...,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts
count,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,...,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000
mean,3419.500000,1.527485,1.130263,24.416667,24.514327,24.497807,24.347515,1.209014,1.226768,19.500000,...,0.057602,0.014327,0.062865,0.016520,0.051023,0.010234,-0.009690,0.014539,-0.017755,-0.018086
std,1974.682253,1.297913,1.124566,17.178524,17.136894,16.401571,16.341557,0.530186,0.523176,10.966658,...,0.233007,0.118846,0.242739,0.127475,0.220062,0.100651,0.693593,0.692937,0.668523,0.408488
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.000000,-3.333333,-2.363636,-2.250000
25%,1709.750000,1.000000,0.000000,11.000000,11.000000,11.000000,11.000000,0.888889,0.906250,10.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.500000,-0.464286,-0.451613,-0.176471
50%,3419.500000,1.000000,1.000000,23.000000,23.000000,23.000000,23.000000,1.172414,1.192308,19.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.076923,-0.050000,0.000000,0.000000
75%,5129.250000,2.000000,2.000000,35.000000,35.000000,36.000000,36.000000,1.555556,1.562500,29.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.421053,0.428571,0.153846
max,6839.000000,9.000000,7.000000,102.000000,105.000000,85.000000,82.000000,2.736842,2.761905,38.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,3.500000,2.285714,2.250000

# Agora vamos analisar os daddos de um time específico, o Manchester United

In [12]:
# selecionar apenas os jogos do "Man United"
man_utd_games = df[(df['HomeTeam'] == 'Man United') | (df['AwayTeam'] == 'Man United')]
man_utd_games.head(5)

,Unnamed: 0,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,...,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts
9,9,20/08/00,Man United,Newcastle,2,0,H,0,0,0,...,0,0,0,0,0,0,0.0,0.000000,0.000000,0.000000
12,12,22/08/00,Ipswich,Man United,1,1,NH,1,2,3,...,0,0,0,0,0,0,-1.0,1.000000,-1.500000,-1.500000
27,27,26/08/00,West Ham,Man United,2,2,NH,2,3,5,...,0,0,0,0,0,0,-1.0,0.666667,-1.333333,-1.333333
30,30,05/09/00,Man United,Bradford,6,0,H,5,2,3,...,0,0,0,0,0,0,0.5,0.250000,0.250000,0.250000
44,44,09/09/00,Man United,Sunderland,3,0,H,11,4,3,...,0,0,0,0,0,0,1.6,-0.400000,0.800000,0.800000

In [15]:
# analisar as estatísticas de vitórias do manchester united em casa
man_utd_home_games = df[(df['HomeTeam'] == 'Man United')]
man_utd_home_games['FTR'].value_counts()

H     250
NH     92
Name: FTR, dtype: int64

In [16]:
# analisar as estatísticas de vitórias do manchester united fora de casa
man_utd_away_games = df[(df['AwayTeam'] == 'Man United')]
man_utd_away_games['FTR'].value_counts()

NH    266
H      76
Name: FTR, dtype: int64

In [18]:
# ver a média de gols do manchester united em casa
man_utd_home_goals = man_utd_home_games['FTHG'].mean()
man_utd_home_goals

2.1374269005847952

In [19]:
# ver a média de gols do manchester united fora de casa
man_utd_away_goals = man_utd_away_games['FTAG'].mean()
man_utd_away_goals

1.6666666666666667

In [20]:
# ver a quantidade de clean sheets do manchester united em casa
man_utd_home_games_cs = man_utd_home_games['FTAG'].value_counts()
man_utd_home_games_cs

0    175
1    119
2     32
3     13
4      2
6      1
Name: FTAG, dtype: int64

# Legenda

Div = League Division
Date = Match Date (dd/mm/yy)
Time = Time of match kick-off
HomeTeam = Home Team
Away team = Away Team
FTHG and HG = Full Time Home Team Goals
FTAG and AG = Full-Time Away Team Goals
FTR and Res = Full-Time Result (H=Home Win, D=Draw, A=Away Win)
HTHG = Half Time Home Team Goals
HTAG = Half Time Away Team Goals
HTR = Half Time Result (H=Home Win, D=Draw, A=Away Win)

Match Statistics (where available)
Attendance = Crowd Attendance
Referee = Match Referee
HS = Home Team Shots
AS = Away Team Shots
HST = Home Team Shots on Target
AST = Away Team Shots on Target
HHW = Home Team Hit Woodwork
AHW = Away Team Hit Woodwork
HC = Home Team Corners
AC = Away Team Corners
HF = Home Team Fouls Committed
AF = Away Team Fouls Committed
HFKC = Home Team Free Kicks Conceded
AFKC = Away Team Free Kicks Conceded
HO = Home Team Offsides
AO = Away Team Offsides
HY = Home Team Yellow Cards
AY = Away Team Yellow Cards
HR = Home Team Red Cards
AR = Away Team Red Cards
HBP = Home Team Bookings Points (10 = yellow, 25 = red)
ABP = Away Team Bookings Points (10 = yellow, 25 = red)